:root {
    --line-color: black;
}

.timeline {
    position: relative;
}
.timeline::before {
    content: '';
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 5px;
    background: var(--line-color);
}
.timeline::after {
    content: '';
    border-color: var(--line-color);
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: 5px solid;
    border-right: 5px solid;
}

.timeline::after {
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    margin: 0 auto;
    transform: rotate(-45deg);
}